<main class="container">
    <h1 class="mb-5  text-center ">About</h1>
    <!--ABOUT INFO CARDS-->
      <div class="container col cards-outter  ">
          <div class="col m-5 card-group">
              <div class="card about-Russel row-col-1" style="width: 18rem;">
                  <img src="./Assets/me.png" class="card-img-top" alt="..." style="width: 20rem;">
                  <div class="card-body">
                    <h5 class="card-title">Me</h5>
                    <a href="https://github.com/RussellWaring" class="card-github fas fa-github" target="_blank"><i class="fab fa-github" alt="Russell's Github"></i></a> <br/>
                    <p class="card-text">
                      I am enrolled in the Computer Programming Analyst program at Durham College.
                      <br /> 
                      I am in the third and final year. I enjoy spending time outdoors, exercising, reading,
                      <br /> 
                      and watching movies. 
                      <br />
                      - Russell
                    </p>
                    <button href="#" class="card-button btn btn-primary" target="_blank">Go somewhere</button>
                  </div>
              </div>    
          </div>
        </div>
  </main>