<h1 class="mb-5">Welcome!</h1>
<div style="margin-left: 0;">
    <p>
        Hello.
        <br />
        This website was created to host the lab content for the course Mobile Development (MODE 4201).
        <br />
        On the navigation bar at the top there are 3 pages to visit:
        <ul>
            <li style=" list-style-type: none;">The Home page</li>
            <li style=" list-style-type: none;">The About page</li>
            <li style=" list-style-type: none;">The Labs page</li>
        </ul>
        The first will take you back here.
        <br/>
        The second will take you to a page about myself. 
        <br/>
        The third will take you to a page containing the labs covered during this semester.

    </p>
</div>

<p>***This website currently operates as a SPA (Single-Page Application), so refreshing the page may crash the site.</p>
<button id="AboutUsButton" class="btn btn-primary">Learn more About me!</button>

