<main class="container">
	<h1 class="mb-5 text-center ">Labs</h1>
      
	<div class="project-container">
        <h2>Lab 1 - Mobile Development Research</h2>
        <img src="./Assets/lab1.PNG" style="width:50%; border-radius: 10%;" alt="lab1">
        <div class="project-container-text rounded">
          	<h6><a href="./Assets/MODE4201_Lab1_RWaring.pdf" target="_blank">Lab 1 PDF</a></h6>
          	<p></p>
        </div>
	</div>
	<br />
	<div class="project-container">
        <h2>Lab 2 - Android Emulator and Dev Tool Research</h2>
        <iframe width="630" height="472.5" src="https://www.youtube.com/embed/7lZ1ZKVULro"></iframe>
        <div id="text-align:center;">
          	<h6><a href="https://youtu.be/7lZ1ZKVULro">Lab 2 Video</a></h6>
          	<p style="text-align: center;">Lab 2 - Part 3 below</p>
          	<table id="tableAppDevTool">
				<tr><th style="width:30%;">Spec</th><th>Description</th></tr>
				<tr><td>Tool Name</td>						<td>Android Studio</td></tr>
				<tr><td>Platform</td>						<td>Android</td></tr>
				<tr><td>Application Development Type</td>	<td>Android</td></tr>
				<tr><td>Website</td>						<td>https://developer.android.com/studio/</td></tr>
				<tr><td>Developers</td>						<td>Google, Jet Brains</td></tr>
				<tr><td>Release Date (latest)</td>					<td>Dolphin (2021.3.1)</td></tr>
				<tr><td>License</td>						<td>Binaries: Freeware, Source code: Apache License</td></tr>
				<tr><td>Price</td>							<td>Free to download and use</td></tr>
				<tr><td>Programming Language(s) </td>		<td>Java or C++</td></tr>
				<tr><td>Features</td>						<td>Android</td></tr>
				<tr><td>Debugger</td>						<td>Includes built-in debugger with different types</td></tr>
				<tr><td>Built-in Emulator</td>				<td>Yes</td></tr>
				<tr><td>Host machine requirements</td>		<td>2 - 4GB RAM, 400MB hard disk space, JDK 7</td></tr>
				<tr><td>IDE</td>							<td>*Android Studio IS an IDE</td></tr>
				<tr><td>Software to be installed</td>		<td>Android Studio</td></tr>
				<tr><td>Advantages</td>						<td>Supported by Google and Jet Brains; easy upload of apps</td></tr>
				<tr><td>Disadvantages</td>					<td>Not lightweight; emulator is slow; long time to build and run</td></tr>
				<tr><td>Language availability</td>			<td>Supports different languages</td></tr>
				<tr><td>Uploading/Selling an App</td>		<td>A one-time, $25 developer's license  to publish apps</td></tr>
				<tr><td>Third-party Emulator</td>			<td>BlueStacks, Oracles Virtualbox, Genymotion</td></tr>
				<tr><td>Market Share</td>					<td><a href="https://enlyft.com/tech/products/android-studio" target="_blank">21,584 companies use Android Studio</a></td></tr>
				<tr><td>Number of apps available</td>		<td>n/a</td></tr>
				<tr><td>Number of downloads/users</td>		<td>At least <a href="https://android-studio.en.uptodown.com/windows">2.5m +</a></td></tr>
				
			</table>
        </div>
      </div>
	<br />
	<div class="project-container">
        <h2>Lab 3 - XML and Related Technologies</h2>
        <img src="./Assets/lab3.PNG" style="width:50%; border-radius: 10%;" alt="lab3">
        <div class="project-container-text rounded">
          	<h6><a href="./Assets/MODE4201_Lab3_RWaring.pdf" target="_blank">Lab 3 PDF</a></h6>
          	<p></p>
        </div>
	</div>
	<br />
      <!--<div class="project-container">
        <h2>Lab 3</h2>
        <img src="" style="width:50%" alt="Validation">
        <div class="project-container-text rounded">
          <h6></h6>
          <p></p>
        </div>
        
      </div>-->
</main>